{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Afrex Chat System connects users across Africa with real-time messaging, promoting collaboration and community engagement through simple registration, login, and messaging features.'>
        <meta name = 'robots' content = 'index, follow'>
        <meta name = 'keywords' content = 'Chat, Afrex, Chatapp, information, community, communication'>

        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        
        <!-- TailwindCSS Compilation -->
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/output.css' %}">

        <!-- CSS Link
        <link rel="stylesheet" href="{% static 'style.css' %}"> -->
        
        <title> {{ title }}</title>
    </head>

    <body>
        <h2> HELLO YOU ARE WELCOME {{username}}</h2>
        <p> <a href="{% url 'logout' %}"> logout</a></p>
    </body>

</html>