{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
        <meta http-equiv='content-type' content='text/html; charset=utf-8'/>
        <meta name='description' content='Afrex Chat System connects users across Africa with real-time messaging, promoting collaboration and community engagement through simple registration, login, and messaging features.'>
        <meta name='robots' content='index, follow'>
        <meta name='keywords' content='Chat, Afrex, Chatapp, information, community, communication'>
        
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        
        <!-- TailwindCSS Compilation -->
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        <title>Email Sent</title>
    </head>

    <body class="bg-gray-50 text-gray-700 font-sans">
        <div class="max-w-lg mx-auto p-6">
            <div class="flex justify-center mb-6">
                <img src="https://lh3.googleusercontent.com/a/ACg8ocIRXYYO6spJGZ8dN8G_7cZ-ZjVrx9WR2qgDxsfY-4KCYxj4YQ8=s288-c-no" alt="AfreX" class="w-32 h-32 object-cover">
            </div>
            <hr class="border-gray-300">
            
            <div class="mt-6 text-left">
                <p class="text-lg font-semibold mb-4">Dear {{ user.get_username }},</p>
                <p class="mb-4">It seems you requested a password reset. Please click the link below to reset your password:</p>

                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="text-blue-500 hover:text-blue-600 underline">Reset Password</a>

                <p class="mt-4">If you did not request this change, you can ignore this email.</p>

                <p class="mt-6 text-red-400">Best Regards,<br class="font-extrabold">AfreX Team</p>
            </div>

            <hr class="my-6 border-gray-300">
            
            <footer class="text-center text-sm">
                <div class="flex justify-center space-x-4 mb-4">
                    <!-- Twitter X icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(76, 205, 243, 1);transform: ;msFilter:;">
                        <path d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"></path>
                    </svg>

                    <!-- LinkedIn Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-blue-700">
                        <circle cx="4.983" cy="5.009" r="2.188"></circle>
                        <path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"></path>
                    </svg>

                    <!-- Facebook Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current text-blue-700">
                        <path d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"></path>
                    </svg>
                </div>

                <p class="text-gray-600 mb-4">© 2024 AfreX.Org Limited</p>

                <p class="text-sm leading-relaxed text-gray-600">
                    AfreX is an Africa-based tech company dedicated to developing innovative technology solutions tailored specifically to the continent. 
                    We are committed to building cutting-edge tech innovations that address local challenges and drive growth, 
                    fostering a future where African technology leads the way.
                </p>
            </footer>
        </div>
    </body>
</html>
