{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width= device - width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Afrex Chat System connects users across Africa with real-time messaging, promoting collaboration and community engagement through simple registration, login, and messaging features.'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <script src=”https://cdn.tailwindcss.com”></script>
        <title> {{ title }}</title>
    </head>

    <body>
        <section>
		<form method = 'POST' novalidate>
			{% csrf_token %}
			{{ form.as_p }}
			<input type = 'submit' value = 'Sign Up'/>
		</form>
        </section>
    </body>
</html>
