/* Including Magnolia Script font */
@font-face {
    font-family: 'Magnolia Script';
    src: url('Magnolia-Script.otf') format('opentype');
}
/* This line below is for the login and signup page input field styling */
.form-control{
    width: 100%;
    color: #4a5568;
    font-family: 'Magnolia Script', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff7474;
    border-bottom-right-radius: 1px;
    border-color: #ff7474;
}

.form-control::placeholder {
    color: #ff7474;
    font-family: 'Magnolia Script', sans-serif;
}

/* This line below is for the password reset pages input field styling */
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #fc8181;
    border-radius: 4px;
    font-family: 'Magnolia Script', sans-serif;
    font-size: 16px;
}
input[type="email"]:focus {
    border-color: #fc8181; /* Red border color on focus */
    outline: none; /* Prevent the default outline on focus */
}

/* Style for error messages */
.danger-alert {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}